* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 210px 1fr ;
    font-family: Arial, Helvetica, sans-serif;

    --highlight: hsl(0, 99%, 39%);
    --light-theme: hsl(0, 0%, 100%);
    --dark-theme: hsl(0, 0%, 92%);

    background-color: var(--light-theme);
    font-family:  "Open Sans", Arial, Helvetica, sans-serif;

}

button {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 0px hsl(0, 0%, 70%);

}

/* sidemenu styling */

.sidemenu {
    grid-column: 1 / 2;
    background-color: var(--dark-theme);
    height: calc(max(100%, 100vh));

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.sidemenu button {
    border: none;
    transition: transform 0.1s ease-out 0s;
}

button:hover {
    transform: scale(0.96);
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.add-task-btn, .add-project-btn {
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 2;

}

.add-task-btn {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    
}

.project-header {
    display: flex;
    margin-top: 5px;
    margin-bottom: -15px;
    padding: 0px 45px;
    justify-content: space-between;
    align-items: center;
}


svg {
    height: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
}

.taskcard {
    display: grid;
    padding: 10px 30px;
    grid-template-columns: 1fr 90px 60px 60px;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-theme);
    border-radius: 30px;
    transition: transform 0.1s ease-out 0s;

}

.taskcard:hover{
    transform: scale(1.04);
}

.taskcard .title {
    grid-column: 1 / 2;
}

.taskcard .date {
    grid-column: 2 / 3;
}

.taskcard .priority {
    grid-column: 3 / 4;
}

.taskcard button {
    grid-column : 4 / 5;
}

.popupform {
    display: none;
    position: fixed;

    flex-direction: column;
    align-items: center;
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;

    background-color: var(--dark-theme);
    padding: 20px;
    border-radius: 20px;
    z-index: 1001;
}


form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}

form input {
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

form label {
    padding-left: 5px;
}

form select {
    appearance: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}

.show {
    display: flex;
}

.overlay.show {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; /* Ensure it's above other content */
}
